@font-face {
    font-family: 'Effra';
    src: url('../fonts/effra_std_lt-webfont.woff2') format('woff2'),
         url('../fonts/effra_std_lt-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Effra';
    src: url('../fonts/effra_std_rg-webfont.woff2') format('woff2'),
         url('../fonts/effra_std_rg-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Effra';
    src: url('../fonts/effra_std_bd-webfont.woff2') format('woff2'),
         url('../fonts/effra_std_bd-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

$basefont : 16px;

//colors
$color00: #000000;
$color01: #0D1321;
$color02: #FFFFFF;
$color03: #807E7E;
$color04: #ABE9FF;
$color05: #F2C94C;
$color06: #636D83;
$color07: #5C709F;
$color08: #999999;
$color09: #202020;
$color10: #939090;



//fonts
$basfontfamily : 'Effra';
$fontAwesomefree:"Font Awesome 5 Free";