@font-face {
  font-family: 'Effra';
  src: url("../fonts/effra_std_lt-webfont.woff2") format("woff2"), url("../fonts/effra_std_lt-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Effra';
  src: url("../fonts/effra_std_rg-webfont.woff2") format("woff2"), url("../fonts/effra_std_rg-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Effra';
  src: url("../fonts/effra_std_bd-webfont.woff2") format("woff2"), url("../fonts/effra_std_bd-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 62.5%;
  font-family: "Effra";
  background-color: #000000;
  color: #FFFFFF;
}

h1 {
  font-size: 5rem;
  /* Create the gradient. */
  background-image: -webkit-gradient(linear, left top, right top, from(#A84088), color-stop(18.6%, #A11552), color-stop(36.68%, #F53694), color-stop(54.22%, #FC6D68), color-stop(72.82%, #FEA94E), color-stop(88.23%, #BADCC8), color-stop(102.05%, #6AC6E6));
  background-image: linear-gradient(90deg, #A84088 0%, #A11552 18.6%, #F53694 36.68%, #FC6D68 54.22%, #FEA94E 72.82%, #BADCC8 88.23%, #6AC6E6 102.05%);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  -webkit-animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
          animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
  font-family: "Effra";
  font-weight: 700;
}

/*COMMON CSS*/
p {
  color: #FFFFFF;
  font-size: 1rem;
}

p:last-child {
  margin-bottom: 0;
}

img, svg {
  max-width: 100%;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.animated,
.animated .animated .fa,
.animated .fa,
.clearfix:after,
.row-style:after {
  visibility: hidden;
}

.animated {
  -webkit-animation-duration: .65s;
  animation-duration: .65s;
}

.touch .animated,
.touch .animated .animated .fa,
.touch .animated .fa,
.touch .clearfix:after,
.touch .row-style:after {
  visibility: visible;
}

@media (max-width: 991px) {
  .animated,
  .animated .animated,
  .animated .animated .fa,
  .animated .fa,
  .clearfix:after,
  .row-style:after {
    visibility: visible;
    -webkit-animation-name: animation-off;
    animation-name: animation-off;
  }
}

.vhidden {
  visibility: hidden;
}

.visible,
.visible .fa,
.visible .visible .fa,
.visible .animated .fa,
.visible .clearfix:after,
.visible .row-style:after {
  visibility: visible;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-1.333em);
            transform: translatey(-1.333em);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-1.333em);
            transform: translatey(-1.333em);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.btn-black {
  background: #000000;
  color: #FFFFFF;
}

/*COMMON CSS*/
/*Header CSS*/
header.sticky {
  z-index: 4;
  position: -webkit-sticky;
  position: sticky;
}

header.sticky .navbar {
  background-color: #0D1321;
}

.navbar {
  padding: 0;
}

.navbar .navbar-brand {
  padding: 0;
  position: absolute;
  top: 0;
}

.navbar .navbar-nav {
  margin-bottom: 0;
  padding: 1rem 0;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #807E7E;
  font-size: 1.12rem;
  font-weight: 400;
}

.navbar .navbar-nav .nav-item.active .nav-link {
  color: #FFFFFF;
  font-weight: 700;
}

.navbar .navbar-nav .nav-item + .nav-item {
  margin-left: 2rem;
}

/*Header CSS*/
/*Banner CSS */
.banner {
  position: relative;
  z-index: 1;
  padding: 3.5rem 0 0 0;
}

.banner .text-cont {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.banner .text-cont p {
  color: #999999;
}

.banner .text-cont .btn-link {
  background-image: -webkit-gradient(linear, left top, right top, from(#A84088), color-stop(18.6%, #A11552), color-stop(36.68%, #F53694), color-stop(54.22%, #FC6D68), color-stop(72.82%, #FEA94E), color-stop(88.23%, #BADCC8), color-stop(102.05%, #6AC6E6));
  background-image: linear-gradient(90deg, #A84088 0%, #A11552 18.6%, #F53694 36.68%, #FC6D68 54.22%, #FEA94E 72.82%, #BADCC8 88.23%, #6AC6E6 102.05%);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
          animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
  font-weight: 700;
  padding: 0;
  font-size: 1.25rem;
  padding-right: 7rem;
  display: inline-block;
  position: relative;
}

.banner .text-cont .btn-link:after {
  content: '';
  position: absolute;
  background: url(../images/long-arrow.svg) no-repeat left top;
  background-size: contain;
  right: 0;
  top: calc(50% - 0.4rem);
  width: 6rem;
  height: 0.8rem;
}

.banner .text-cont .btn-link:hover {
  -webkit-animation: rainbow-text-simple-animation 0.5s ease-in forwards;
          animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

.banner .img-cont svg {
  width: 100%;
}

.banner .owl-nav {
  display: none;
}

/*Banner CSS */
/*Main Content CSS*/
.main-content {
  padding: 1.5rem 0;
  position: relative;
  z-index: 1;
}

.section {
  padding: 5rem 0;
}

.section.shade-bg {
  background: url(../images/shade-circle.png) no-repeat center -8rem;
}

.section.shade-womb {
  position: relative;
}

.section.shade-womb:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: url(../images/womb-shape.png) no-repeat center bottom;
}

.section .container {
  position: relative;
  z-index: 2;
}

.section .video-container {
  position: relative;
  z-index: 2;
}

.section .video-container:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: #000000;
  opacity: 0.3;
}

.section .video-container .btn-play {
  position: absolute;
  border: 2px solid #FFFFFF;
  width: 6rem;
  height: 6rem;
  left: calc(50% - 3rem);
  top: calc(50% - 3rem);
  color: #FFFFFF;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  border-radius: 100%;
}

.section .btn-loadmore {
  background-image: -webkit-gradient(linear, left top, right top, from(#A84088), color-stop(18.6%, #A11552), color-stop(36.68%, #F53694), color-stop(54.22%, #FC6D68), color-stop(72.82%, #FEA94E), color-stop(88.23%, #BADCC8), color-stop(102.05%, #6AC6E6));
  background-image: linear-gradient(90deg, #A84088 0%, #A11552 18.6%, #F53694 36.68%, #FC6D68 54.22%, #FEA94E 72.82%, #BADCC8 88.23%, #6AC6E6 102.05%);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  position: relative;
}

.section .btn-loadmore:after {
  font-family: "Font Awesome 5 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  content: "\f107";
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
  color: #ABE9FF;
}

.highlight-box {
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

.highlight-box .main-tl {
  margin-bottom: 1.5rem;
}

.highlight-box p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #807E7E;
}

.center-big.up-in {
  margin-top: -6rem;
}

.center-big .owl-stage-outer {
  padding-top: 5rem;
}

.center-big .owl-stage-outer .owl-item div {
  cursor: pointer;
  margin: 6% 8%;
  -webkit-transition: margin 0.4s ease;
  transition: margin 0.4s ease;
  opacity: 1;
}

.center-big .owl-stage-outer .owl-item div .img-cont {
  position: relative;
  margin: 0;
}

.center-big .owl-stage-outer .owl-item div .img-cont:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  -webkit-transform: rotate(290deg);
          transform: rotate(290deg);
  background: url(../images/womb-shape.png) no-repeat center bottom;
  background-size: contain;
  left: -12rem;
  top: -7rem;
  bottom: -3rem;
  right: 1rem;
  display: none;
}

.center-big .owl-stage-outer .owl-item div .img-cont:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  border-radius: 100%;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  left: 1rem;
  top: 1rem;
  background: rgba(250, 79, 103, 0.2);
  -webkit-filter: blur(204px);
          filter: blur(204px);
  overflow: hidden;
}

.center-big .owl-stage-outer .owl-item div .img-cont img {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.center-big .owl-stage-outer .owl-item div .img-cont figcaption {
  position: absolute;
  font-size: 2rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8rem 9rem 0 11rem;
  display: none;
}

.center-big .owl-stage-outer .owl-item div .text-cont {
  display: none;
}

.center-big .owl-stage-outer .owl-item.center > div {
  cursor: auto;
  margin: 0;
  opacity: 1;
}

.center-big .owl-stage-outer .owl-item.center > div .img-cont:before {
  display: block;
}

.center-big .owl-stage-outer .owl-item.center > div .img-cont img {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.center-big .owl-stage-outer .owl-item.center > div .img-cont figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center-big .owl-stage-outer .owl-item.center > div .text-cont {
  display: block;
}

.center-big .owl-stage-outer .owl-item:not(.center) > div:hover {
  opacity: 1;
}

.blog-list > div {
  position: relative;
}

.blog-list > div .img-cont {
  position: relative;
  z-index: 1;
  height: 25rem;
  overflow: hidden;
}

.blog-list > div .img-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.blog-list > div .img-cont:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: #000000;
  opacity: 0.3;
}

.blog-list > div .text-cont {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1.87rem;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-list > div .text-cont .cont-in {
  max-width: 20rem;
}

.blog-list > div .text-cont .cont-in h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.blog-list > div .text-cont .cont-in p {
  font-size: 1rem;
}

.blog-list > div .text-cont .btn-arrow {
  text-decoration: none;
  padding-right: 7rem;
  display: inline-block;
  position: relative;
}

.blog-list > div .text-cont .btn-arrow:after {
  content: '';
  position: absolute;
  background: url(../images/long-arrow.svg) no-repeat left top;
  background-size: contain;
  right: 0;
  top: calc(50% - 0.4rem);
  width: 6rem;
  height: 0.8rem;
}

.owl-carousel .owl-controls .owl-nav [class*=owl-] {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: calc(50% - 1rem);
  background: none;
  margin: 0;
  padding: 0;
}

.owl-carousel .owl-controls .owl-nav [class*=owl-]:before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
}

.owl-carousel .owl-controls .owl-nav [class*=owl-].owl-prev {
  left: -2rem;
}

.owl-carousel .owl-controls .owl-nav [class*=owl-].owl-prev:before {
  content: '';
  background: url(../images/angle-left-slim.svg) no-repeat center;
}

.owl-carousel .owl-controls .owl-nav [class*=owl-].owl-next {
  right: -2rem;
}

.owl-carousel .owl-controls .owl-nav [class*=owl-].owl-next:before {
  content: '';
  background: url(../images/angle-right-slim.svg) no-repeat center;
}

.owl-carousel.theme-02 {
  margin: 0 -0.625rem;
}

.owl-carousel.theme-02 .owl-item {
  padding: 0 0.625rem;
}

.owl-carousel.theme-02 .owl-item .text-cont {
  padding: 1.3rem 2rem;
  text-align: center;
}

.owl-carousel.theme-02 .owl-item .text-cont h3 {
  font-size: 1.5rem;
  color: #FFFFFF;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.owl-carousel.theme-02 .owl-item .text-cont p {
  font-size: 1rem;
  color: #807E7E;
}

.owl-carousel.theme-03 {
  margin: 0 -1.25rem;
  width: auto;
}

.owl-carousel.theme-03 .owl-item {
  padding: 0 1.25rem;
}

.owl-carousel.theme-03 .owl-item .text-cont {
  padding: 1.3rem 2.6rem;
  background: #202020;
  text-align: center;
}

.owl-carousel.theme-03 .owl-item .text-cont .location-name {
  font-size: 0.875rem;
  color: #999999;
}

.owl-carousel.theme-03 .owl-item .text-cont h4 {
  font-size: 1.5rem;
  color: #FFFFFF;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.owl-carousel.theme-03 .owl-item .text-cont h5 {
  font-size: 1rem;
  color: #999999;
  margin-bottom: 1rem;
}

.owl-carousel.theme-03 .owl-item .text-cont p {
  font-size: 1rem;
  color: #939090;
}

.owl-carousel.theme-03 .owl-item .text-cont p:last-child {
  margin-bottom: 0;
}

.Our-Stories .owl-carousel .owl-controls {
  max-width: 50%;
}

.Our-Stories .owl-carousel .owl-controls .owl-nav [class*=owl-] {
  border: 1px solid #FFFFFF;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
}

.Our-Stories .owl-carousel .owl-controls .owl-nav [class*=owl-]:before {
  background-size: 25%;
}

.Our-Stories .owl-carousel .owl-controls .owl-nav [class*=owl-].owl-prev {
  left: -0rem;
}

.Our-Stories .owl-carousel .owl-controls .owl-nav [class*=owl-].owl-next {
  right: calc(50% + 15px);
}

.join-txt {
  width: 100%;
  border-radius: 0.625rem;
  padding: 1.75rem 3rem;
  background: #000000;
  position: relative;
}

.join-txt:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left top, right top, from(#A84088), color-stop(18.6%, #A11552), color-stop(36.68%, #F53694), color-stop(54.22%, #FC6D68), color-stop(72.82%, #FEA94E), color-stop(88.23%, #BADCC8), color-stop(102.05%, #6AC6E6));
  background: linear-gradient(90deg, #A84088 0%, #A11552 18.6%, #F53694 36.68%, #FC6D68 54.22%, #FEA94E 72.82%, #BADCC8 88.23%, #6AC6E6 102.05%);
  left: -2px;
  top: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  border-radius: 0.625rem;
}

.join-txt .main-tl {
  background-image: -webkit-gradient(linear, left top, right top, from(#A84088), color-stop(18.6%, #A11552), color-stop(36.68%, #F53694), color-stop(54.22%, #FC6D68), color-stop(72.82%, #FEA94E), color-stop(88.23%, #BADCC8), color-stop(102.05%, #6AC6E6));
  background-image: linear-gradient(90deg, #A84088 0%, #A11552 18.6%, #F53694 36.68%, #FC6D68 54.22%, #FEA94E 72.82%, #BADCC8 88.23%, #6AC6E6 102.05%);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
}

.join-txt .btn-link {
  text-decoration: none;
  font-size: 1.5rem;
  padding-right: 7rem;
  display: inline-block;
  position: relative;
}

.join-txt .btn-link:after {
  content: '';
  position: absolute;
  background: url(../images/long-arrow.svg) no-repeat left top;
  background-size: contain;
  right: 0;
  top: calc(50% - 0.4rem);
  width: 6rem;
  height: 0.8rem;
}

.join-txt .btn-link span {
  background-image: -webkit-gradient(linear, left top, right top, from(#A84088), color-stop(18.6%, #A11552), color-stop(36.68%, #F53694), color-stop(54.22%, #FC6D68), color-stop(72.82%, #FEA94E), color-stop(88.23%, #BADCC8), color-stop(102.05%, #6AC6E6));
  background-image: linear-gradient(90deg, #A84088 0%, #A11552 18.6%, #F53694 36.68%, #FC6D68 54.22%, #FEA94E 72.82%, #BADCC8 88.23%, #6AC6E6 102.05%);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Main Content CSS*/
/* Footer CSS */
footer {
  background-color: #0D1321;
  padding: 4rem 0 0;
  font-size: 1rem;
  color: #636D83;
}

footer ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  display: block;
}

footer ul li a {
  display: inline-block;
  text-decoration: none;
  color: #636D83;
}

footer ul li a:hover {
  color: #FFFFFF;
}

footer ul li + li {
  margin-top: 1.4rem;
}

footer ul.social-list {
  display: block;
  padding: 1rem 0 2rem;
}

footer ul.social-list li {
  display: inline-block;
  font-size: 2rem;
}

footer ul.social-list li a {
  color: #FFFFFF;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
}

footer ul.social-list li a:hover .fa-facebook-square {
  color: #4267B2;
}

footer ul.social-list li a:hover .fa-instagram-square {
  color: #8a3ab9;
}

footer ul.social-list li a:hover .fa-snapchat-square {
  color: #FFFC00;
}

footer ul.social-list li a:hover .fa-twitter-square {
  color: #1DA1F2;
}

footer ul.social-list li a:hover .fa-youtube-square {
  color: #FF0000;
}

footer ul.social-list li + li {
  margin-top: 0rem;
  margin-left: 1.125rem;
}

footer ul.app-list {
  display: block;
}

footer ul.app-list li {
  display: inline-block;
}

footer ul.app-list li + li {
  margin-top: 0rem;
}

footer .footer-bt {
  border-top: 1px solid #5C709F;
  text-align: center;
  padding: 2rem 0;
  margin-top: 1.875rem;
}

footer .footer-bt p {
  margin-bottom: 0;
  font-size: 1rem;
}

footer .footer-bt p a {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
}

footer .form-inline .form-control {
  border-radius: 0;
}

footer .form-inline .btn {
  border-radius: 0;
}

/* Footer CSS */
/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@-webkit-keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}
@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@-webkit-keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}
@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}
/*# sourceMappingURL=style.css.map */